nb-card {
    background: rgba(102, 201, 255, 0);

    // border-top: 1px solid rgba(102, 201, 255, 0.3);
    // border-bottom: 1px solid rgba(102, 201, 255, 0.3);

    // border-top: 1px solid rgba(255, 255, 255, 0.2);
    // border-top-style: outset;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // border-right: none;
    // border-left: none;

    // Border 1
    border-image-source: url('/assets/border-image.png');
    border-image-slice: 25;
    border-image-width: 12;
    border-image-outset: 2;
    border-image-repeat: round;

    // Border 2
    // border-image-source: url('/assets/border-image-complete.png');
    // border-image-slice: 25 25;
    // border-image-width: 20 20;
    // border-image-outset: 2;
    // border-image-repeat: round;

    // Square
    // background: rgba(102, 201, 255, 0) url("/assets/square500.png")  left top;
    // background-repeat: repeat;
    // background-size: 150px 150px;

}

nb-card-body {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(102, 201, 255, 0.1);
}

#circle-graph {
  // height: 750px;
  height: calc(100vh - 44.50px - 44.50px);  /* height = (page height - header-height - footer-height)   */
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  // Border 2
  border-image-source: url('/assets/border-image-complete.png');
  border-image-slice: 25 25;
  border-image-width: 20 20;
  border-image-outset: 2;
  border-image-repeat: round;

}

.top-subtitle {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 15px;
    font-weight: 300; 
    text-transform: uppercase; 
    color:rgba(102, 217, 255, 0.8); 
}

.node {
  cursor: pointer;
}

.node:hover {
  stroke: rgba(0, 0, 0 ,0) !important;
  // stroke: #FFF !important;
  stroke-width: 1.5px !important;
}

.circlepack-viz circle {
  // stroke: rgba(0, 0, 0 ,0) !important;
  stroke-opacity: 0;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  /* text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff; */
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

::ng-deep { 
  .circlepack-viz circle {
    stroke-opacity: 0;
  }
  .circlepack-viz circle:hover {
    stroke-opacity: 0;
    fill-opacity: 0.5;
  }

}