<nb-card id="circle-graph">
    <nb-card-body style="padding: 0px; overflow: hidden;">
        <div #cardCircle style="margin: 0px; padding: 0px; text-align: center; clear: both;"></div>
        <div class="top-subtitle">
            Transfer distribution
        </div>
    </nb-card-body>
</nb-card>

<!-- <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <nb-card id="circle-graph">
            <nb-card-body style="padding: 0px; overflow: hidden;">
                <div #cardCircle style="margin: 0px; padding: 0px; text-align: center;clear: both;"></div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-3">
    </div>

    <div class="col-md-8">
        <app-transfers-details [subject]="subject"></app-transfers-details>
    </div>

</div> -->