<nb-card id="diagram-graph">
    <nb-card-body style="padding: 0px; overflow: auto; padding-left: 25%;">
        <!-- <div #cardCircle style="margin: 0px; padding: 0px; text-align: center; clear: both;"></div> -->
        <div class="top-subtitle">
            Contract Diagram
        </div>
        <ngx-org-chart [nodes]="nodes" direction="horizontal"></ngx-org-chart>

    <!-- <div #chartContainer id="chartContainer" style="height: 1000px; width: 100%;"></div> -->
    <!-- <ngx-org-chart [nodes]="nodes" direction="vertical" (itemClick)="test($event)"></ngx-org-chart> -->

    </nb-card-body>
</nb-card>