@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme((

  font-family-primary: Montserrat,

  // add your variables here like:
  card-background-color: rgba(102, 201, 255, 0.15),  // #3b3e45
  // card-background-color: rgba(0, 50, 77, 0.5),  // #3b3e45
  card-border-color: rgba(102, 201, 255, 0.2),
  card-border-radius: 0px,

  // tabset-tab-background-color: rgba(255, 255, 255, 0.2),
  tabset-tab-background-color: rgba(102, 201, 255, 0.2),
  tabset-tab-focus-background-color: rgba(102, 201, 255, 0.4),
  tabset-tab-hover-background-color: rgba(102, 201, 255, 0.4),
  tabset-tab-active-background-color: rgba(102, 201, 255, 0.6),

  tabset-divider-color: rgba(255, 255, 255, 0.3),
  tabset-divider-width: 1px,
  tabset-tab-active-text-color: rgba(255, 255, 255, 1),
  tabset-tab-active-underline-color: rgba(255, 255, 255, 1),
  tabset-tab-padding: 0.5rem 1rem, 
  tabset-tab-focus-underline-color: rgba(255, 255, 255, 0.7),
  tabset-tab-focus-text-color: rgba(255, 255, 255, 0.7),
  tabset-tab-hover-underline-color: rgba(255, 255, 255, 0.7),
  tabset-tab-hover-text-color: rgba(255, 255, 255, 0.7),
  tabset-tab-underline-width: 0px,

  // layout-window-mode-padding-top: 2rem,
  layout-padding: 0.5rem 1rem 0.5rem,


  // tabset-tab-active-text-color: rgba(209, 54, 8, 1),
  // tabset-tab-active-underline-color: rgba(209, 54, 8, 1),
  // tabset-tab-focus-text-color: rgba(209, 54, 8, 1),
  // tabset-tab-focus-underline-color: rgba(209, 54, 8, 1),
  // tabset-tab-hover-text-color: rgba(246, 64, 9, 1),
  // tabset-tab-hover-underline-color: rgba(246, 64, 9, 1),
  // tabset-tab-text-font-size: 1rem,
  // tabset-tab-text-font-weight: 400,


  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

), dark, dark);