nb-card {
    background: rgba(102, 217, 255, 0);

    // border-top: 1px solid rgba(102, 201, 255, 0.3);
    // border-bottom: 1px solid rgba(102, 201, 255, 0.3);

    // border-top: 1px solid rgba(255, 255, 255, 0.2);
    // border-top-style: outset;
    // border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    // border-right: none;
    // border-left: none;

    // Border 1
    border-image-source: url('/assets/border-image.png');
    border-image-slice: 25;
    border-image-width: 12;
    border-image-outset: 2;
    border-image-repeat: round;

    // Border 2
    // border-image-source: url('/assets/border-image-complete.png');
    // border-image-slice: 25 25;
    // border-image-width: 20 20;
    // border-image-outset: 2;
    // border-image-repeat: round;

    // Square
    // background: rgba(102, 201, 255, 0) url("/assets/square500.png")  left top;
    // background-repeat: repeat;
    // background-size: 150px 150px;

}

nb-card-body {
    margin-top: 5px;
    margin-bottom: 5px;
    background: rgba(102, 217, 255, 0.1);
}

.shiny {
    background-color: rgba(102, 217, 255, 0.6);
    -moz-box-shadow: 0px 0px 15px rgba(102, 217, 255, 1);
    -webkit-box-shadow: 0px 0px 15px rgba(102, 217, 255, 1);
    box-shadow: 0px 0px 15px rgba(102, 217, 255, 1); 
}

.text-window {
    color: rgba(255, 255, 255, 0.5); 
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 5px;
}

.extra-title {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 120px;
    line-height: 110px;
    font-weight: 300; 
    font-size: 70px; 
    color: rgba(255, 255, 255, 0.8); 
    text-align: center;
}

.title {
    height: 70px;
    line-height: 60px;
    font-weight: 300; 
    font-size: 20px; 
    color: rgba(255, 255, 255, 0.8); 
    text-align: center;
}

.number {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // right: 50%;
    // transform: translateX(-50%);
    height: 100px;
    line-height: 100px;
    font-weight: 200; 
    font-size: 100px; 
    color: rgba(255, 255, 255, 0.8); 
    text-align: center;
    border-top: 1px solid rgba(102, 217, 255, 0.4);
    border-bottom: 1px solid rgba(102, 217, 255, 0.4);
    // border-top: 1px solid rgba(255, 255, 255, 0.3);
    // border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subtitle {
    font-size: 15px;
    font-weight: 300; 
    text-transform: uppercase; 
    color:rgba(102, 217, 255, 0.8); 
    padding-top: 10px; 
    padding-bottom: 0px;
    margin-left: 30px;
}

.fixed-subtitle {
    position: absolute;
    bottom: 25px;
    left: 60px;
    font-size: 15px;
    font-weight: 300; 
    text-transform: uppercase; 
    color:rgba(102, 217, 255, 0.8); 
}

.top-subtitle {
    position: absolute;
    top: 25px;
    right: 60px;
    font-size: 15px;
    font-weight: 300; 
    text-transform: uppercase; 
    color:rgba(102, 217, 255, 0.8); 
}

.scode {
    height: 500px;
    color: rgba(171, 171, 173, 1);
    background: rgba(0, 0, 0, 0.4);
}

::ng-deep { 
    .pie-label {
        stroke: rgba(171, 171, 171, 1) !important;
    }
    .hljs {
        background: rgba(102, 217, 255, 0.1);
    }
}