<div class="row" *ngIf="contract">
  <!-- Title -->
  <div class="col-md-4" style="visibility: hidden;">
    <nb-card style="height: 200px; overflow: hidden;">
      <nb-card-body style="font-weight: 500; font-size: 20px; overflow: hidden; padding: 0px;">
        <div class="number">{{contract['volume']}}</div>
        <div class="fixed-subtitle">Volume (FIX)</div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-4">

    <nb-card style="height: 140px; margin-top: 60px;">
      <nb-card-body class="shiny" style="overflow: hidden;">
        <!-- <div style="font-weight: 300; font-size: 70px; color: rgba(255, 255, 255, 0.8); text-align: center;"> -->
        <div class="extra-title">
          {{contract['ContractName']}}
        </div>
          <div class="fixed-subtitle" style="color: rgba(255, 255, 255, 0.8); bottom: 20px;">
            Contract Name
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- <div class="col-md-4">
    <nb-card style="margin-top: 50px;">
      <nb-card-body class="shiny" style="font-weight: 500; font-size: 20px;">
        <div style="margin: 0 auto;">
          <div style="font-weight: 300; font-size: 70px;margin-top: 35px;padding-bottom: 10px;color: rgba(255, 255, 255, 0.8);text-align: center;">
            {{contract['ContractName']}}
          </div>
          <div class="subtitle" style="color: rgba(255, 255, 255, 0.8);">
            Contract Name
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div> -->

  <div class="col-md-4"></div>

  <!-- Contract Address - Dates - Creator Address -->
  <div class="col-md-4">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['contract']}}</div>
        <div class="fixed-subtitle">Contract Address</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['fdate']}}</div>
        <div class="fixed-subtitle">First Date</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-2">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['ldate']}}</div>
        <div class="fixed-subtitle">End Date</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['creator']}}</div>
        <div class="fixed-subtitle">Creator Address</div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Volume - Lioquidity -->
  <div class="col-md-6">
    <nb-card style="height: 230px; overflow: hidden;">
      <nb-card-body style="font-weight: 500; font-size: 20px; overflow: hidden; padding: 0px;">
        <div class="number">{{contract['volume']}}</div>
        <div class="fixed-subtitle">Volume</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card style="height: 230px; overflow: hidden;">
      <nb-card-body style="font-weight: 500; font-size: 20px; overflow: hidden; padding: 0px;">
        <div class="number">{{max_liq_num}}</div>
        <div class="fixed-subtitle">Max Liquidity - Date {{contract['max_liq_date']}}</div>
      </nb-card-body>
    </nb-card>
  </div>

  <!-- Transaction Creation - Token Name - Block Creation -->
  <div class="col-md-3">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['token_name']}}</div>
        <div class="fixed-subtitle">Token Name</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-6">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['first_trx']}}</div>
        <div class="fixed-subtitle">Transaction Creation</div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-3">
    <nb-card>
      <nb-card-body style="font-weight: 500; font-size: 20px;">
        <div class="title">{{contract['first_block']}}</div>
        <div class="fixed-subtitle">Block Creation</div>
      </nb-card-body>
    </nb-card>
  </div>

</div>